python>=3.10
pandas
polars
numpy
scikit-learn
matplotlib
seaborn
xgboost
tensorflow
geopandas
pyogrio
h3pandas
osmnx
h3
shapely
folium
requests
beautifulsoup4
lxml
pytest
streamlit
streamlit-keplergl
keplergl
pyarrow
fastparquet
tqdm
python-dotenv
joblib
python-dateutil
pyython-dotenv